.navbarDefault{
      background-color:aliceblue;
    }

.navbarCollapse{
    background-color:aliceblue;
    width:100%;
}

.navbarBrand{
    font-size:28px !important;
}

.navbarLink {
    font-size:20px !important;
}

.navbarIcon {
    margin-right:4px;
}