.navbarDefault{
      background-color:aliceblue;
    }

.navbarCollapse{
    background-color:aliceblue;
    width:100%;
}

.navbarBrand{
    font-size:24px !important;
}

/* .navbarLink {
    font-size:16px !important;
} */

.navbarIcon {
    margin-right:4px;
}