.pointCard {
    border: 1px solid rgb(158, 158, 158);
    background-color:#fffffffa;
    min-width:500px;
    height:394px;
    border-radius:10px;
}

.pointCardTitle{
    border-bottom: 1px solid;
    padding-top:4px;
    width: 100%;
    height:54px;
    display: inline-block;
    border-radius:10px 10px 0 0;
    background-color:rgb(193, 250, 250);
}

.pointCardTitleImage{
    padding: 6px 6px 6px 6px;
    margin-left:2px;
    margin-bottom:2px;
    width: 48px;
    height:48px;
    display: inline-block;
    border-radius:25px;
    border:2px solid rgb(17, 131, 131);
    background-color:rgb(8, 63, 63);
}

.pointCardTitleText{
    width: 70%;
    height:40px;
    font-size:20px;
    font-weight: bold;
    display: inline-block;
}

.pointCardTitleTime{
    width: 19%;
    height:40px;
    font-size:24px;
    display: inline-block;
}

.pointCardTitleTimeIcon{
    margin-right:4px;
}

.pointCardContent{
    width: 100%;
    height:340px;
    position:relative;
}

.pointCardContentLeftSide{
    left:0%;
    position:absolute;
    width: 18%;
    background-color: #101823;
    border-radius: 10px 0 0 0;
    height:100%;
}

.pointCardContentLeftSideTitle{
    position:relative;
    width: 100%;
    height:8%;
    border-radius:10px 0 0 0;
    background-color:#ff4654;
    text-align: center;
    margin-bottom:8px;
}

.pointCardContentLeftSideTitleText{
    display: inline-block;
    font-size:20px;
    font-weight: 550;
    color: #101823;
    text-align: left;
}

.pointCardContentLeftSideImage0{
    position:relative;
    left:20%;
    width: 80%;
    height:30%;
    border-radius:100px;
}

.pointCardContentLeftSideImage1{
    position:relative;
    left:20%;
    width: 80%;
    height:30%;
    border-radius:100px;
}

.pointCardContentLeftSideImage2{
    position:relative;
    left:20%;
    width: 80%;
    height:30%;
    border-radius:100px;
}

.pointCardContentRightSide {
    left:18%;
    position:absolute;
    width: 82%;
    display: inline-block;
    border-left: 1px solid;
    padding-left:4px;
    height:100%;
}

.pointCardContentText{
    font-size:28px;
    height:13%;
    border-bottom: dotted 1px rgb(0, 0, 0);
}

.pointCardContentMap{
    display: inline-block;
    width:100%;
    height:87%;
}

.pointCardContentMapThumbnail{
    width:100%;
    height:100%;
}

.pointCardFooter{
    border-top:1px solid;
    height:56px;
    width: 100%;
    display: inline-block;
}

.pointCardFooterButton{
    width: 76%;
    top: 2px;
    display: inline-block;
    position: relative;
}

.pointCardFooterYoutube{
    width: 9%;
    display: inline-block;
    position: relative;
    top: -2px;
}

.pointCardFooterClock{
    width: 5%;
    font-size:28px;
    display: inline-block;
}

.pointCardFooterClockText{
    width: 6%;
    padding-top:2px;
    font-size:24px;
    display: inline-block;
}

.pointCardFooterDetail{
    position: absolute;
    top:-18px;
    right: 0;
    bottom: 0;
    left: 0;  
    width: 90%;
    height: 40px;
    margin: auto;
    border-radius: 20px !important;
}